# Verify your E-mail ID & Mobile Number in Suvit

Source: https://taxone.vyapar.com/help/articles/account-verification

[All Collection](/help)[Getting Started](/help/collections/getting-started)[Verify your E-mail ID & Mobile Number in Suvit](/help/articles/account-verification)

[Follow the below Step for Account Verification:](#follow-the-below-step-for-account-verification-)[Sign In](#sign-in)[Step 1. Edit Your Profile ✎](#step-1-edit-your-profile-)[Step 2. Verify Your Details](#step-2-verify-your-details)[Why Is This Important?](#why-is-this-important-)[What’s Next?](#what-s-next-)[You May Find This Useful:](#you-may-find-this-useful-)

# Verify your E-mail ID & Mobile Number in Suvit

Account Verification - verify your registered E-mail ID & Mobile Number, which will help you in successful profile verification.

##### Make sure your email ID and mobile number are verified is super important for a smooth profile setup! Let’s make this super simple.

### Follow the below Step for Account Verification:

#### Sign In

* Go to [Suvit.io](https://www.suvit.io) and [Login](https://in.suvit.io/signIn) to your account.

#### Step 1. Edit Your Profile **✎**

![1.webp](https://strapi.suvit.io/uploads/1_2edc78f2d1.webp)

**1** - Once logged in click on **My Profile** (see the image above for help).

**2** - Click on Verify

#### Step 2. Verify Your Details

![2.webp](https://strapi.suvit.io/uploads/2_add9c2e88d.webp)

* Enter **OTP**
* Click on the **Verify** button

```
**Note:** Didn’t get the OTP for your email? Check your spam folder! &#9888;
```

### Why Is This Important?

* Every Suvit user has a profile that includes their name, mobile number, GSTIN, address (optional), and email id. Keeping this information updated ensures your account works seamlessly. You can do this under **My Profile**

### What’s Next?

Once your email and mobile verification are done, you’re ready for the next step: installing the
Tally Connector Desktop application.

#### You May Find This Useful:

1. How to download Suvit Tally ConnectorDesktop Application.
2. How to [Import bank statement.](https://help.suvit.io/articles/import-the-bank-statement)